* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes entrando {
    from {
        opacity: 0;
        transform: translateY(-260deg);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.apresentacao__conteudo__texto__link {
    text-decoration: none;
    color: aqua;
}

